# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#files
conf/auth.yml
conf/telegram.yml
res/announcements.json
res/existing_coins.json
res/scheduled_order.json
res/executed_trades.json
res/executed_sells_trades.json